@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
   }
}
@keyframes enlaces {
  0%{
    opacity: 0;
    transform: scale(.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
